@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  @include flex_box_custom(center, center, 0px);
  flex-direction: column;
  padding: 20px;

  .description {
    color: $thr_color;
    font-weight: 300;
    font-size: 15;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .button {
    font-size: 12px;
    width: 160px;
  }
}
