@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  @include flex_box_custom(space-between, center, 10px);

  margin-top: 40px;

  //content
  .content {
    @include flex_box_custom(center, center, 26px);
    flex-direction: column;

    padding: 0px 60px;

    .title {
      font-size: 35px;
      color: $four_color;
      text-align: center;
      font-weight: 400;
    }

    .description {
      font-size: 16px;
      text-align: center;
      font-weight: 400;
      color: $secondary_color;
    }
  }

  //img
  .boxImg {
  }
}
