@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.containerCard {
  @include flex_box_custom(center, center, 15px);
}

.containerContent {
  @include flex_box_custom(center, flex-start, 8px);

  flex-direction: column;

  color: $white_color;
  font-weight: 300;

  .title {
    font-size: 17px;
  }

  .des {
    font-size: 16px;
    color: $five_color;
  }
}
