@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  @include flex_box_custom(center, center, 0px);
  left: 0;
  right: 0;
}

.top {
  position: absolute;
  top: 0;
}

.fixed {
  position: fixed;
  top: -100px;
  background-color: #fff;
  box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.12);

  z-index: 999;
  transform: translateY(100px);
  backdrop-filter: blur(5px);

  transition: transform 0.5s ease;
}

.containerHeader {
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 83px;
}

.containerRight {
  @include flex_box_custom(center, center, 20px);
}

.containerBoxIcon {
  @include flex_box_custom(center, center, 10px);
}

.containerMenu {
  @include flex_box_custom(center, center, 30px);
}

.containerLeft {
  @include flex_box_custom(center, center, 20px);
}
