@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  @include flex_box_custom(space-between, center, 20px);
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: visible;

  .content {
    @include flex_box_custom(center, center, 20px);
    flex-direction: column;
    padding: 20px;
    width: 90%;
  }
  .bottomView {
    @include flex_box_custom(center, center, 10px);
    flex-direction: column;
    padding: 20px;
    width: 90%;

    .subtotal {
      @include flex_box_custom(center, space-between, 20px);
      width: 100%;

      .labelSubtotal {
        text-align: left;
        width: 100%;
      }
      .valueSubtotal {
        text-align: right;
      }
    }
  }
}
